#notify {
    position: fixed;
    bottom: 0rem;
    right: 1rem;
}

.notify-message {
    position: absolute;
    bottom: 0rem;
    right: 2rem;
    background-color: #fff;
    border: 0.0625rem solid #ccc;
    border-radius: 1rem;
    box-shadow: 0px 0px 0.3125rem 0px rgba(0, 0, 0, 0.2);
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 3rem;
    width: 26rem;
    opacity: 1;
    transition: bottom 0.5s ease, filter 0.5s ease, opacity 0.2s ease, right 0.5s ease, width 0.5s ease-out;
}

.message-remove {
    position: absolute;
    right: 20% !important;
    opacity: 0;
}

#expand-button {
    height: 1rem !important;
    width: 1rem !important;
    z-index: 3;
    bottom: 6rem;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 0.3125rem 0px rgba(0, 0, 0, 0.2);
    right: 0rem;
}

#notify-expanded {
    position: absolute;
    bottom: 0rem;
    right: 1rem;
}

#notify-expanded .notify-message {
    width: 30rem;
    right: 1rem;
}

#notify-expanded .message {
    max-width: 22rem;
}


.message-3 {
    z-index: 3;
    filter: brightness(100%);
    bottom: 1rem;
    right: 0rem;
    width: 30rem;
}

.message-2 {
    z-index: 2;
    filter: brightness(90%);
    bottom: 0.5rem;
    right: 1rem;
    width: 28rem;
}

.message-1 {
    z-index: 1;
    filter: brightness(80%);
    bottom: 0rem;
    right: 2rem;
    width: 26rem;
}

.message {
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 26rem;
}


.message-icon {
    font-size: 1rem;
    margin-right: 0.625rem;
}

.close-button {
    margin-left: auto;
}

.success {
    border-color: #28a745;
}

.error {
    border-color: #dc3545;
}

.info {
    border-color: #17a2b8;
}

.warning {
    border-color: #ffc107;
}

.close-button {
    display: none;
}

.notify-message:hover .close-button {
    display: block;
}